---
import aboutImg from "@/assets/hacker.gif";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hey there geekscripter! Welcome to my blog, where I post Cybersecurity content from what I'm learning and things I'm doing just to track my progress and as a digital record of mine. Apart from all that I wanted to embark on this journey with you guys so we can learn together! Hope this will be a journey of growth and impactful knowledge.
		</p>
		<div class="flex justify-center">
			<Image
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				fetchpriority="high"
				loading="eager"
				src={aboutImg}
			/>
		</div>
		<p>Other stuff I do:</p>
		<ul class="list-inside list-disc">
			<li>Ricing! I love ricing and customizing my PC lol. Much respect to Arch Linux users btw and thanks to the Reddit community :)</li>
			<li>You'll find me designing posters or websites sometimes</li>
			<li>I host events especially dealing with the Cloud, you can check out recordings on <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://www.youtube.com/channel/UCcNoaFINEPgQqEpwydPmg5Q"
				rel="noopener noreferrer"
				target="_blank">Youtube</a>
			</li>
			<li>I'm a Beta Microsoft Learn Student Ambassador and speak on Microsoft Technologies</li>
			<li>Writing poems and stories (It's been a while though hehe)</li>
			<li>I enjoy reading or listening to thriller/true crime stories. My all time favs are 
				<a aria-label="github repository" class="cactus-link inline-block" href="https://www.youtube.com/@LetsReadPodcast" rel="noopener noreferrer" target="_blank">Let's Read
				</a> and 
				<a aria-label="github repository" class="cactus-link inline-block" href="https://www.youtube.com/@rottenmangopodFeel" rel="noopener noreferrer" target="_blank">Rotten Mango
				</a>.	
					Feel free to share any stories you've come across or have.</li>
		</ul>
		<p>
			Sayonara peeps and remember,<em> never back down, never what...?</p></em> <strong><em>Never give up! 🌵</em></strong>
		</p>
	</div>
</PageLayout>
