---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const youtubePosts: { desc: string; href: string; title: string }[] = [
	{
		desc: "A recorded session with Cloud Experts taking up different roles in the stack in an engaging Q&A session and discussion on what the Cloud as an infrastructure is all about.",
		href: "https://youtu.be/SxPCqeSdTgI?si=e4EBdQsUOgEBpjW0",
		title: "Beyond the Cloud: Intro to the Cloud and Career Navigation Session",
	},
	{
		desc: "A playlist of all the online study group sessions I've hosted from setting up an Azure Student account to knowing the fundamentals of Azure in preparation for the AZ-900 exams.",
		href: "https://www.youtube.com/watch?v=Bge-BlIAF-0&list=PL7NPEEqrC5-aHJE9xzUAGMslubG_Nzbis&pp=gAQBiAQB",
		title: "Azure Fundamentals Study Group Sessions",
	},
	{
		desc: "A well detailed explanation of the application process of becoming an MLSA including tips and tricks to ace your application.",
		href: "https://youtu.be/UNOuYTaSrvQ?si=llOeV0HQCWflbecW",
		title: "How To Apply To Become a Microsoft Learn Student Ambassador",
	},
	{
		desc: "A dive into cloud services using Microsoft Azure from storage to security (favorable to beginners).",
		href: "https://youtu.be/K8KtWjWS11A?si=STSB-zmZpd74f9r3",
		title: "Azure Fundamentals (AZ-900): Storage Services, Identity, Access and Security",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi, I’m Lilian Wanjiku aka powd3r on Cybersecurity spaces and commonly as lilintech in the general tech field.
			I'm a Cybersecurity enthusiast, a tech writer, and a web developer. I write about web development, cybersecurity, and other tech-related topics. I'm also a huge fan of open-source and love
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Check out my YouTube posts for more!</h2>
		<dl class="space-y-4">
			{
				youtubePosts.map(({ desc, href, title }) => (
					<div class="flex flex-col gap-2 md:flex-row">
						<dt>
							<span class="flex">
								<a class="cactus-link" href={href} rel="noopener noreferrer" target="_blank">
									{title}
								</a>
								:
							</span>
						</dt>
						<dd>{desc}</dd>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
